<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>QR Example</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-item>
      <ion-label position="stacked">klaim</ion-label>
      <qrcode
        [qrdata]="'klaim'"
        [width]="256"
        [errorCorrectionLevel]="'M'"
      ></qrcode>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">gunakan</ion-label>
      <qrcode
        [qrdata]="'gunakan'"
        [width]="256"
        [errorCorrectionLevel]="'M'"
      ></qrcode>
    </ion-item>
    <ion-button expand="block" (click)="takepict()"> Pilih Gambar </ion-button>
    <ion-img [src]="showpict"></ion-img>
  </ion-list>
</ion-content>
