<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title> Tambah Voucher</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light" class="ion-padding">
  <ion-list>
    <ion-item>
      <ion-input
        label="Nama Voucher"
        label-placement="stacked"
        placeholder="Enter text"
        [(ngModel)]="o_namaVoucher"
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-input
        label="Jumlah voucher yang ingin dibagikan"
        label-placement="stacked"
        placeholder="Enter text"
        type="number"
        [(ngModel)]="o_stokVoucher"
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-input
        label="Tanggal Voucher dimulai"
        label-placement="floating"
        placeholder="Enter text"
        type="datetime-local"
        [(ngModel)]="o_tanggalMulai"
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-input
        label="Tanggal Voucher berakhir"
        label-placement="floating"
        placeholder="Enter text"
        type="datetime-local"
        [(ngModel)]="o_tanggalAkhir"
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-grid>
        <ion-row>
          <ion-input
            label="Pilih gambar"
            label-placement="floating"
            [readonly]="true"
            (click)="ambilfoto()"
          ></ion-input>
        </ion-row>
        <ion-row>
          <ion-img [src]="showpict"></ion-img>
        </ion-row>
      </ion-grid>
    </ion-item>
    <ion-button expand="block" (click)="kirim()"> Submit </ion-button>
  </ion-list>
</ion-content>
