<!-- <ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content color="light" class="ion-padding">
  <ion-card class="ion-padding">
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-input
            label="Name"
            label-placement="floating"
            placeholder="Enter text"
            [(ngModel)]="name"
          ></ion-input>
        </ion-item>

        <ion-item>
          <ion-input
            label="Email"
            label-placement="floating"
            placeholder="Enter text"
            [(ngModel)]="email"
          ></ion-input>
        </ion-item>

        <ion-item>
          <ion-input
            label="Password"
            label-placement="floating"
            placeholder="Enter text"
            [(ngModel)]="password"
          ></ion-input>
        </ion-item>
      </ion-list>

      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-button (click)="register()"> Submit </ion-button>
            <ion-button (click)="Login()" fill="clear">
              Kembali ke login
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content> -->
<ion-content color="light" class="ion-padding">
  <section class="bg-white">
    <div class="lg:grid lg:min-h-screen lg:grid-cols-12">
      <section
        class="relative flex h-32 items-end bg-white lg:col-span-5 lg:h-full xl:col-span-6"
      >
        <div
          class="absolute inset-0 h-full w-full object-cover opacity-80 bg-yellowy"
        ></div>
      </section>
      <main
        class="flex items-center justify-center px-8 py-8 sm:px-12 lg:col-span-7 lg:px-16 lg:py-12 xl:col-span-6 rounded-lg"
      >
        <div class="max-w-xl lg:max-w-3xl">
          <div class="relative -mt-16 block lg:hidden">
            <a
              class="inline-flex size-20 items-center justify-center rounded-full bg-yellowy2 text-blue-600 sm:size-20"
              href="#"
            >
              <span class="sr-only">Home</span>
              <img src="assets/green-yellow-box.png" />
            </a>

            <div>
              <h2 class="mt-6 text-3xl font-extrabold text-neutral-600">
                Register
              </h2>
            </div>
          </div>

          <div class="mt-8 mb-32">
            <div class="mt-6">
              <form action="#" method="POST" class="space-y-6">
                <div>
                  <label
                    for="name"
                    class="block text-sm font-medium text-neutral-600"
                  >
                    Name
                  </label>
                  <div class="mt-1">
                    <input
                      [(ngModel)]="name"
                      name="name"
                      placeholder="Nama User"
                      class="block w-full px-5 py-3 text-base placeholder-gray-300 transition duration-500 ease-in-out transform border border-transparent rounded-lg text-neutral-600 bg-gray-50 focus:outline-none focus:border-transparent focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-300"
                    />
                  </div>
                </div>

                <div class="space-y-1">
                  <label
                    for="email"
                    class="block text-sm font-medium text-neutral-600"
                  >
                    Email
                  </label>
                  <div class="mt-1">
                    <input
                      [(ngModel)]="email"
                      name="email"
                      type="email"
                      placeholder="Contoh@gmail.com"
                      class="block w-full px-5 py-3 text-base placeholder-gray-300 transition duration-500 ease-in-out transform border border-transparent rounded-lg text-neutral-600 bg-gray-50 focus:outline-none focus:border-transparent focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-300"
                    />
                  </div>
                </div>

                <div class="space-y-1">
                  <label
                    for="password"
                    class="block text-sm font-medium text-neutral-600"
                  >
                    Password
                  </label>
                  <div class="mt-1">
                    <input
                      [(ngModel)]="password"
                      name="password"
                      type="password"
                      placeholder="password123"
                      class="block w-full px-5 py-3 text-base placeholder-gray-300 transition duration-500 ease-in-out transform border border-transparent rounded-lg text-neutral-600 bg-gray-50 focus:outline-none focus:border-transparent focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-300"
                    />
                  </div>
                </div>

                <div>
                  <button
                    (click)="register()"
                    type="submit"
                    class="flex items-center justify-center w-full px-10 py-4 text-base font-medium text-center text-white transition duration-500 ease-in-out transform bg-blue-600 rounded-xl hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500"
                  >
                    Register
                  </button>
                </div>
              </form>
              <div class="relative my-4">
                <div class="absolute inset-0 flex items-center">
                  <div class="w-full border-t border-gray-300"></div>
                </div>
                <div class="relative flex justify-center text-sm">
                  <span class="px-2 bg-white text-neutral-600"> Atau </span>
                </div>
              </div>
              <div>
                <button
                  (click)="Login()"
                  type="submit"
                  class="w-full items-center block px-10 py-3.5 text-base font-medium text-center text-blue-600 transition duration-500 ease-in-out transform border-2 border-white shadow-md rounded-xl focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500"
                >
                  Ke Login
                </button>
              </div>
            </div>
          </div>
        </div>
      </main>
    </div>
  </section>
</ion-content>
