ion-thumbnail {
  --size: 140px;
  --border-radius: 14px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
  margin-bottom: 10%;
}
ion-card {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 10%;
  margin-bottom: 10%;
}
ion-col {
  align-items: center;
  justify-content: center;
  text-align: center;
}
