<ion-tabs>
  <ion-tab-bar slot="bottom" class="h-16 w-full">
    <ion-tab-button tab="dashboard">
      <ion-icon name="desktop-outline"></ion-icon>
      Dashboard
    </ion-tab-button>
    <div class="w-[15%]"></div>
    <ion-tab-button tab="voucher">
      <ion-icon name="ticket-outline"></ion-icon>
      Voucher
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
<ion-fab slot="fixed" horizontal="center" vertical="bottom" class="bottom-8">
  <ion-fab-button color="greeny" class="w-20 h-20">
    <ion-icon name="qr-code-outline" class="w-8 h-8 text-[#f4f5f8]"></ion-icon>
  </ion-fab-button>
</ion-fab>
