.map {
  position: relative;
  height: 100%;
  background-color: transparent;
  opacity: 0;
  transition: opacity 150ms ease-in;
}

.map.visible {
  opacity: 1;
}

// untuk fade
ion-toolbar {
  --background: transparent;
  --border-color: transparent;
  --color: white;
}

ion-content {
  --offset-top: 0px;
  position: absolute;
}
