<ion-header>
  <ion-toolbar>
    <ion-title>Maps</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="cancel()">cancel</ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="confirm()">Confirm Location</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="map" #map></div>
  <ion-card slot="end"> hello </ion-card>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-title>
      <ion-grid [fixed]="true">
        <ion-row>
          <ion-col>Lokasi Anda</ion-col>
          <span *ngIf="!check(lastcord)">
            <ion-col>Lat:{{ lastcord.lat | number : "1.0-3" }}</ion-col>
            <ion-col>Lng:{{ lastcord.lng | number : "1.0-3" }}</ion-col>
          </span>
        </ion-row>
      </ion-grid>
    </ion-title>
  </ion-toolbar>
</ion-footer>
