<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title> Detail </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light" class="ion-padding">
  <div *ngIf="!loading">
    <div class="max-w-2xl overflow-hidden bg-white shadow sm:rounded-lg m-3">
      <div class="px-4 py-5 sm:px-6">
        <div class="relative h-[250px] sm:h-[350px]">
          <img
            src="https://govo.my.id/uploads/client/{{data.o_foto}}"
            alt=""
            class="absolute inset-0 h-full w-full object-contain"
          />
        </div>
      </div>
      <div class="px-4 py-5 sm:px-6">
        <h3 class="text-lg font-medium text-gray-900 text-center mb-5">
          {{data.o_namaVoucher}}
        </h3>

        <button
          id="open-modal"
          type="button"
          class="h-12 py-2 px-4 flex justify-center items-center bg-greeny hover:bg-greeny2 focus:ring-greeny focus:ring-offset-greeny2 text-white w-full transition ease-in duration-200 text-center text-base font-semibold shadow-md focus:outline-none focus:ring-2 focus:ring-offset-2 rounded-lg"
        >
          Bagikan
        </button>
        <!-- <ion-modal trigger="open-modal">
          <ng-template>
            <ion-header>
              <ion-toolbar>
                <ion-buttons slot="end">
                  <ion-button (click)="confirm()" [strong]="true">
                    Confirm
                  </ion-button>
                </ion-buttons>
              </ion-toolbar>
            </ion-header>
            <ion-content class="ion-padding">
              <div
                style="
                  height: 50%;
                  display: flex;
                  align-items: end;
                  justify-content: center;
                  background-color: white;
                "
              >
                <qrcode
                  #parent
                  [qrdata]="qrcode"
                  [width]="256"
                  [errorCorrectionLevel]="'M'"
                  (qrCodeURL)="onChangeURL($event)"
                  [imageSrc]="'./assets/yellow-green-box logo.png'"
                >
                </qrcode>
              </div>
              <div
                style="
                  height: 50%;
                  display: flex;
                  align-items: baseline;
                  justify-content: center;
                  background-color: white;
                "
              >
                <ion-button (click)="saveAsImage(parent)">
                  Download QR Code
                </ion-button>
              </div>
            </ion-content>
          </ng-template>
        </ion-modal> -->
      </div>
      <div class="border-t border-gray-200">
        <dl>
          <div
            class="px-4 py-5 bg-gray-50 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6"
          >
            <dt class="text-sm font-medium text-gray-500">Deskripsi</dt>
            <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
              {{data.o_deskripsi}}
            </dd>
          </div>
          <div
            class="px-4 py-5 bg-white sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6"
          >
            <dt class="text-sm font-medium text-gray-500">Lokasi</dt>
            <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
              {{data.o_alamat}}
            </dd>
          </div>
          <div
            class="px-4 py-5 bg-gray-50 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6"
          >
            <dt class="text-sm font-medium text-gray-500">Status Voucher</dt>
            <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
              {{data.o_ambil}} voucher diambil dari {{data.o_stokVoucher}} stok
              voucher
            </dd>
            <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
              {{data.o_klaim}} voucher dipakai dari {{data.o_ambil}} yang sudah
              diambil
            </dd>
          </div>
          <div
            class="px-4 py-5 bg-white sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6"
          >
            <dt class="text-sm font-medium text-gray-500">
              Berlaku dari tanggal dan sampai tanggal
            </dt>
            <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
              {{data.o_tanggalMulai | date:'dd-MM-yyyy'}} -
              {{data.o_tanggalAkhir | date:'dd-MM-yyyy'}}
            </dd>
          </div>
        </dl>
      </div>
    </div>
  </div>

  <div
    *ngIf="loading"
    style="
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: white;
    "
  >
    <div style="text-align: center; color: grey">
      <ion-spinner color="tertiary" name="bubbles"></ion-spinner>
      <p style="text-align: center; margin-top: 3px">please wait</p>
    </div>
  </div>
</ion-content>
