ion-toolbar {
  --background: #ade783;
  --color: white;

  --padding-top: 10px;
  --padding-bottom: 10px;
}

ion-segment-button {
  --indicator-color: #ade783;
}

ion-segment-button.md {
  --color: #000;
  --color-checked: #ade783;
  --indicator-height: 4px;
}

// tombol fab
ion-fab-button {
  --background: #ade783;
  --background-activated: #91df58;
  --background-hover: #9fe36e;
  --border-radius: 15px;
  --box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.3),
    0px 1px 3px 1px rgba(0, 0, 0, 0.15);
  --color: gray;
}

ion-fab-button[data-desc] {
  position: relative;
}

ion-fab-button[data-desc]::after {
  position: absolute;
  content: attr(data-desc);
  z-index: 1;
  right: 50px;
  bottom: 7px;
  color: var(--ion-color-contrast, #000000);
  background-color: var(--ion-color-base, #ffffff);
  padding: 5px 10px;
  border-radius: 10px;
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2),
    0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);
}

// halaman kosong

#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}
