<!-- <div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title class="ion-text-center">Home</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding bg-slate-900 font-extrabold">
    <p class="text-green-600">tes</p>
    Selamat Datang, {{nama}}</ion-content
  >
</div> -->

<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="end">
        |<ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title class="ion-text-center">Home</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-card>
      <ion-card-header class="text-center">
        Detail Keseluruhan Voucher</ion-card-header
      >
      <ion-card-content>
        <canvas
          #doughnutCanvas
          style="position: relative; height: 20vh; width: 40vw"
        ></canvas>
      </ion-card-content>
    </ion-card>
  </ion-content>
</div>
